@font-face {
    font-family: norse-bold;  src: url(ASSETS/Norse-Bold.otf);}


/*  Josh's Custom CSS Reset  https://www.joshwcomeau.com/css/custom-css-reset/*/
*, *::before, *::after {
    box-sizing: border-box;}
* {
    margin: 0;}
body {
    line-height: 1.5;  -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}
img, picture, video, canvas, svg {
    display: block;  max-width: 100%;}
input, button, textarea, select {
    font: inherit;}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;}
p {
    text-wrap: pretty;}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;}
#root, #__next {
    isolation: isolate;}

* {
    /* outline: dashed 1px red; */
}

body {
    width: 100vw;
    height: 100vh;
}

ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

div.container {
    display: flex;
    flex-direction: row;
}

div.sidebar {
    height: 100vh;
    width: 50px;
    margin: 0px;
    /* padding: 10rem 0rem; */
    background-image: url(ASSETS/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.main {
    height: 100vh;
    width: 50px;
    /* padding: 10rem 0rem; */
    background-color: rgb(250, 250, 250);
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.centre {
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 4rem;
}

div.logo {
    margin-top: 3rem;
    padding: 8px;
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    bottom: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 8px;
}

.title {
    font-family: norse-bold, sans-serif;
    font-size: 80px;
    color: white;
}

h1 {
    font-size: 20pt;
    font-weight: 700;
    line-height: 1.2;
}

h1 + h1 {
    margin-top: 2rem;
}

.description {
    padding-left: 2rem;
    padding-right: 8rem;
}

.form {
    
}

.field-box {
    width: 100%;
    padding: 2rem 8rem 2rem 2rem;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
}

form p {
    margin-top: 1rem;
}

.field-box p {
    display: inline-block;
    margin-right: 3rem;
}

label {
    display: block;
    min-width: 150px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

input,
textarea {
    font: inherit;
    width: 250px;
    padding: 4px 8px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    font: inherit;
    width: 250px;
    padding: 4px 8px;
    border: 1px solid blue;
    border-radius: 4px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
}

input[required],
textarea[required] {
    font: inherit;
    width: 250px;
    padding: 4px 8px;
    border: 1px solid red;
    border-radius: 4px;
}

input:invalid,
textarea:invalid {
    font: inherit;
    width: 250px;
    padding: 4px 8px;
    border: 1px solid red;
    border-radius: 4px;
}

.btn {
    margin-top: 2rem;
    padding: .5em 2em .5em 2em;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 8px;
    font: inherit;
    font-size: 20px;
    font-weight: 700;
}